.container {
  display: grid;
  grid-template-rows: repeat(3 1fr) 2fr;
  grid-template-columns: repeat(3, 1fr) 2fr;
  grid-template-areas: 
    "div1 div1 div2 div3 div3"
    "div4 div5 div6 div3 div3"
    "div7 div8 div9 div3 div3";

  height: 100vh;
}

div {
  border: 1px solid blue;
}

.div1 {
  grid-area: div1;
  background-color: #34BC7A;
}
.div2 {
  grid-area: div2;
  background-color: #FF9E01;
}
.div3 {
  grid-area: div3;
}
.div4 {
  grid-area: div4;
  background-color: #1F8BC4;
}
.div5 {
  grid-area: div5;
  background-color: #F15A48;
}
.div6 {
  grid-area: div6;
  background-color: #34BC7A;
}
.div7 {
  grid-area: div7;
  background-color: #F86926;
}

.div8{
  grid-area: div8;
  background-color: #1F8BC4;
}

.div9 {
  grid-area: div9;
  background-color: #F86926;

}
