* {
  box-sizing: border-box;
}

body{
  font-family: Arial;
}

.container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr) 2fr;
  grid-template-areas: 
    "grid1 grid1 grid6 grid3 grid3"
    "grid4 grid5 grid2 grid3 grid3"
    "grid7 grid8 grid9 grid3 grid3";
  height: 100vh;
  margin: 0px;
}

h1 {
  color: white; 
  font-family: Arial;
  font-size: 35px;
  padding-bottom: 15px;
}

p {
  color: white;
}
.summary {
  line-height: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.box-border {
  border: 2px solid white;
  display: inline-block;
  font-size: 14px;
  padding: 12px;
}

.right {
  opacity: .8;
  position: absolute;
  right: 3px;
  top: 48%;
}

.left {
  left: 3px;
  opacity: .8; 
  position: absolute;
  top: 48%;
}

.img {
  height: 70px;
  justify-content: center;
  padding: 10px;
}

.nav-buttons {
  color: white;
  font-size: 28px;
  opacity: .8;
  padding: 8px;
}

.grid {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid1 {
  background-color: #677341;
  display: flex;
  flex-direction: column;
  grid-area: grid1;
  justify-content: center;
  padding: 25px;
}

.grid2 {
  background-color: #677341;
  grid-area: grid2;
}

.grid3 {
  align-items: stretch;
  background-image: url(assets/Onyx.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  grid-area: grid3;
  justify-content: flex-end;
  position: relative;
}

.grid4 {
  background-color: #6B5442;
  grid-area: grid4;
}
.grid5 {
  background-color: #966843;
  grid-area: grid5;
}
.grid6 {
  background-color: #6B5442;
  grid-area: grid6;
}
.grid7 {
  background-color: #77725F;
  grid-area: grid7;
}

.grid8{
  background-color: #6B5442;
  grid-area: grid8;
}

.grid9 {
  background-color: #966843;
  grid-area: grid9;
}

@media screen and (min-width: 640px) and (max-width: 900px){
  .container {
    grid-template-rows: repeat(4,  1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:  
      "grid1 grid1 grid3" 
      "grid5 grid4 grid3" 
      "grid2 grid9 grid3" 
      "grid8 grid7 grid6";
  }

  .img {
    height: 60px;
  }
}

@media screen and (min-width: 440px) and (max-width: 639px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
      "grid2 grid3 grid3" 
      "grid4 grid3 grid3" 
      "grid5 grid3 grid3" 
      "grid7 grid1 grid1" 
      "grid6 grid9 grid8";
  }
  h1 {
    font-size: 30px;
    padding-bottom: 5px;
  }

  .grid1 {
    padding: 15px;
  }

  .grid3 {
    background-image: url(assets/Onyx-copy.jpg);
  }

  .img {
    height: 55px;
  }
}

@media screen and (max-width: 440px) {
  .container {
    grid-template-rows: repeat(11, 160px);
    grid-template-columns: 1fr;
    grid-template-areas: 
      "grid1" 
      "grid3" 
      "grid3" 
      "grid3" 
      "grid6" 
      "grid2" 
      "grid5"
      "grid7" 
      "grid4"
      "grid9" 
      "grid8";
     width: 100%;
  }

  h1 {
    padding-bottom: 0;
  }

  p {
    text-align: center;
  }

  .summary {
    font-size: 14px;
    padding-right: 12px;
  }

  .grid1 {
    padding: 15px;
    align-items: center;
  }
}


