* {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr) 2fr;
  grid-template-areas: 
    "grid1 grid1 grid2 grid3 grid3"
    "grid4 grid5 grid6 grid3 grid3"
    "grid7 grid8 grid9 grid3 grid3";

  height: 100vh;
  margin: 0px;
}

h1 {
  color: white; 
  font-family: Arial;
  font-size: 35px;
  left: 30px;
  position: absolute;
  top: 30px; 
}

.thor {
  filter: saturate(50%);
  height: auto;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
}

.icon {
  justify-content: center;
  width: 30%;
}

.grid1 {
  background-color: #2E0406;
  grid-area: grid1;
}

.grid2 {
  align-items: center;
  background-color: #353535;
  display: flex;
  grid-area: grid2;
  justify-content: center;
}

.grid3 {
  align-items: stretch;
  background-color: white;
  display: flex;
  grid-area: grid3;
}

.grid4 {
  align-items: center;
  background-color: #737373;
  display: flex;
  grid-area: grid4;
  justify-content: center;
}
.grid5 {
  align-items: center;
  background-color: #9E0008;
  display: flex;
  grid-area: grid5;
  justify-content: center;
}
.grid6 {
  align-items: center;
  background-color: #2E0406;
  display: flex;
  grid-area: grid6;
  justify-content: center;
}
.grid7 {
  align-items: center;
  background-color: #353535;
  display: flex;
  grid-area: grid7;
  justify-content: center;
}

.grid8{
  align-items: center;
  background-color: #2E0406;
  display: flex;
  grid-area: grid8;
  justify-content: center;
}

.grid9 {
  align-items: center;
  background-color: #9E0008;
  display: flex;
  grid-area: grid9;
  justify-content: center;

}

@media screen and (max-width: 920px) {
  .container {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
     "grid1 grid1 grid3 grid3" 
     "grid2 grid2 grid3 grid3" 
     "grid4 grid5 grid3 grid3" 
     "grid6 grid7 grid8 grid9";
  }
}

@media screen and (max-width: 580px) {
  .container {
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
     "grid1 grid3" 
     "grid2 grid3" 
     "grid4 grid5"
     "grid7 grid6"
     "grid8 grid9";
    height: 167vh;
  }

}

